.container__third__all{
    width: 90%;
    margin: 0 auto;
}

.table__oblasti{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
}

.oblasti td{
    width: 14.2857143%;
    height: 50px;
    text-align: center;
}

.oblasti td:hover{
    cursor: pointer;
    background-color: deepskyblue;
}

.table__vivod{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    /* border: 2px solid black; */
    text-align: center;
}

.table__vivod tbody tr td{
    padding: 10px 0;
    width: 20%;
}

.table__vivod tbody tr:hover{
    background-color: deepskyblue;
}